
proj_skj1_django/prj1_app/migrations/__pycache__/__init__.cpython-39.pyc
proj_skj1_django/prj1_app/__pycache__/views.cpython-39.pyc
proj_skj1_django/prj1_app/__pycache__/serializers.cpython-39.pyc
proj_skj1_django/prj1_app/__pycache__/models.cpython-39.pyc
proj_skj1_django/prj1_app/__pycache__/apps.cpython-39.pyc
proj_skj1_django/prj1_app/__pycache__/admin.cpython-39.pyc
proj_skj1_django/prj1_app/__pycache__/__init__.cpython-39.pyc
proj_skj1_django/proj_skj1_django/__pycache__/__init__.cpython-39.pyc
proj_skj1_django/proj_skj1_django/__pycache__/settings.cpython-39.pyc
proj_skj1_django/proj_skj1_django/__pycache__/urls.cpython-39.pyc
proj_skj1_django/proj_skj1_django/__pycache__/wsgi.cpython-39.pyc
