{% extends "prj1_base_generic.html" %}

       
{%block content%}
            

<div class="post-card-box">
    <h1>Post list...</h1>
</div>


{% if prj1_blog_list %}
    {% for prj1_blog in prj1_blog_list %}
    
        <div class="post-card-box">
                {%comment%}                
                <a href="{{ prj1_blog.get_absolute_url }}">{{ prj1_blog.title }}</a> ({{prj1_blog.post_date}}) — <a href="{% url 'blogs-by-authorblogs-by-author' blog.author.pk %}">{{ prj1_blog.author }}</a>
                {%endcomment%}
                
                <h2><a href="{{ prj1_blog.get_absolute_url }}" class="link-post_list">{{ prj1_blog.title }}</a></h2>
                <p class="post-meta">{{prj1_blog.post_date}} | {{ prj1_blog.author }} <br>{{prj1_blog.contents_summary|safe}}...</p>
            
            
                {%comment%}
                <div class="post-list-content">{{prj1_blog.contents_summary|safe}}...</div>
                {%endcomment%}
            
            
                
                
            
                <div class="page-tag">
                      
                    
                    
                    {% load taggit_templatetags2_tags %} <!--taggit_templatetag2_tags 모듈을 가져온다-->
                
                     
                    {% get_tags_for_object prj1_blog as "tags" %}
                    
                   
                    {% for tag in tags %}
                        <a href="{% url 'tagged_object_list' tag.name %}" class="tag" style="color: #faa;">#{{tag.name}}</a>
                    {% endfor %}

                    
                </div>


        </div>
    {% endfor %}
{% else %}
    <p>There are no blogs.</p>
{% endif %}       


{%endblock%}
