{% extends "prj1_base_generic.html" %}   
{% load static %}
{% block addheader %}

<script type="text/javascript" src="{%static 'prj1_app/js/shCore.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shAutoloader.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushAppleScript.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushAS3.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushBash.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushColdFusion.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushCpp.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushCSharp.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushCss.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushDelphi.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushDiff.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushErlang.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushGroovy.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushJava.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushJavaFX.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushJScript.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushPerl.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushPhp.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushPlain.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushPowerShell.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushPython.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushRuby.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushSass.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushScala.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushSql.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushVb.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shBrushXml.js'%}"></script>
<script type="text/javascript" src="{%static 'prj1_app/js/shLegacy.js'%}"></script>

<link type="text/css" rel="Stylesheet" href="{%static 'prj1_app/css/shCore.css'%}">
<link type="text/css" rel="Stylesheet" href="{%static 'prj1_app/css/shThemeDefault.css'%}">

<script type="text/javascript"> 
    SyntaxHighlighter.defaults['tooblar']=false;
    SyntaxHighlighter.all(); 
</script>

{% endblock %}
{%block content%}

{% block bodysetting %}
<body Onload="dp.SyntaxHighlighter.HighligthAll('code');">
{% endblock %}


<article class="article-page">
    <div class="page-image">
        <div class="cover-image" style="background: url({%static 'prj1_app/images/backgroundTestimg.jpeg'%}) center no-repeat; background-size: 100%;"></div>
    </div>
    
    <div class="wrapper">
        <div class="page-content">
            <div class="header-page">
                <h1 class="page-title">{{ prj1_blog.title }}</h1>
                <div class="page-date">{{ prj1_blog.post_date }}</div>
                <p>{{ prj1_blog.description|safe }}</p>
            </div>
            
            
            <div class="page-footer">
                <div class="page-tag">
                    <span>Tags:</span>
                </div>
                
                
                
            
               
                <div>
                    <b>TAGS</b> <i class="fas fa-tag"></i>
                    {% load taggit_templatetags2_tags %} <!--taggit_templatetag2_tags 모듈을 가져온다-->
                
                    {% get_tags_for_object object as "tags" %}
                    {% for tag in tags %}
                        <a href="{% url 'tagged_object_list' tag.name %}">{{tag.name}}</a>
                    {% endfor %}
                       
                    &emsp;
                
                    {%comment%}
                    <a href="{% url 'prj1_Blog:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span></a>
                    {%endcomment%} 
                
                </div>
                
                
                
                
                
                <div class="page-share">
                    <span>Share:</span>
                </div>
 
            </div>
            
            <section class="author-box">
                
                <div class="author-img">
                    <img src="{%static 'prj1_app/images/codeplaneLogo.jpg'%}" alt="code plane" class="author-img">
                </div>
                
                <div class="author-desc">
                    <h2>Code Plane</h2>
                    <p>code plane lab</p>
                    <ul>
                        <li class="email"><a href="mailto:kihunopha@gmail.com"><i class="fa fa-envelope"></i></a></li>
                        <li class="phone"><a href="tel:01095090171"><i class="fa fa-phone"></i></a></li>
                    </ul>
                </div>
            </section>               

            
            <div class="recent-box">
                <h2 class="recent-title">Recent post</h2>
                <div class="recent-list">
                </div>
            </div>
        </div>
    </div>
</article>





<div class="post-card-box">
    <div style="margin-left:20px;margin-top:20px">
        <h4>Comments</h4>

        {% for comment in prj1_blog.prj1_blogcomment_set.all %}
            <hr>
            <p>{{comment.author}} ({{comment.post_date}}) - {{comment.description}}</p>
        {% endfor %}
        
        <hr>
        {% if user.is_authenticated %}
          <a href="{% url 'prj1App_blog_comment' prj1_blog.id %}">Add a new comment</a></p>
        {% else %}
          <p><a href="{% url 'login'%}?next={{request.path}}">Login</a> to add a new comment</p>
        {% endif %} 
    </div>   
    
</div>




{%endblock%}
{%block pagination%}
{%endblock%}


{%block tag%}

{%endblock%}
 


