{% extends "prj1_base_generic.html" %}

       
{%block content%}
            


<div class="post-card-box">

    <h2><a href="/log/end/" class="link-post_list">home index test</a></h2>

    <p class="post-meta">Jun 12, 2019</p>

    <div class="post-list-content">
    리스트 콘텐츠1
    </div>
    
    <div class="page-tag">
        <a href="/tags#log" class="tag" style="color: #faa;">#log</a>
    </div>
</div>

<div class="post-card-box">
    <h2><a href="/log/Albus-log-05/" class="link-post_list">index test2</a></h2>

    <p class="post-meta">Jun 04, 2019</p>

    <div class="post-list-content">
    리스트 콘텐츠2
    </div>

    <div class="page-tag">
        <a href="/tags#albus" class="tag" style="color: #faa;">#albus</a>
    </div>
</div>

<div class="post-card-box">

    <h2><a href="/node/nodejs-structure/" class="link-post_list">nodejs의 동작 원리</a></h2>

    <p class="post-meta">Jun 02, 2019</p>

    <div class="post-list-content">
    리스트 콘텐츠3
    </div>
    
    <div class="page-tag">
        <a href="/tags#nodejs" class="tag" style="color: #faa;">#nodejs</a>
    </div>
</div>

            
{%endblock%}
