<!doctype html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8">
	<title>Fly...code Plane...</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">

    {% load static %}

    <link rel="shortcut icon" href="{%static 'prj1_app/image/codeplaneJustPlaneBOLD.ico'%}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{%static 'prj1_app/image/codeplaneJustPlane.ico'%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{%static 'prj1_app/image/codeplaneJustPlane.ico'%}">
    
    <link rel="apple-touch-icon" sizes="114x114" href="">
    
    <!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#311e3e">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#311e3e">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
    

    <!-- Font Awesome -->
	<link rel="stylesheet" href="{%static 'prj1_app/css/all.css'%}">
	<!-- Styles -->
	<link rel="stylesheet" href="{%static 'prj1_app/css/main.css'%}">    

<!-- 
    <link href="{%static 'prj1_app/css/bootstrap.css'%}" rel="stylesheet">    -->     
    <!-- Custom styles for this template -->
    
<!--  
    <link href="{%static 'prj1_app/css/offcanvas.css'%}" rel="stylesheet">   -->
    <link href="{%static 'prj1_app/css/sticky-footer.css'%}" rel="stylesheet">
</head>
<body>

    
<!--    
    <style type="text/css">
        @font-face{
            font-family:"Ubuntu-L";
            src:url("{%static 'prj1_app/fonts/Ubuntu-L.eot'%}") format('truetype'),
            url("{%static 'prj1_app/fonts/Ubuntu-L.woff'%}") format('woff'),
            url("{%static 'prj1_app/fonts/Ubuntu-L.woff2'%}") format('woff2'),
            url("{%static 'prj1_app/fonts/Ubuntu-L.ttf'%}") format('truetype');
        } 
        @font-face{
            font-family:"Ubuntu-R";
            font-family:"Ubuntu-R";
            src:url("{%static 'prj1_app/fonts/Ubuntu-R.eot'%}") format('truetype'),
            url("{%static 'prj1_app/fonts/Ubuntu-R.woff'%}") format('woff'),
            url("{%static 'prj1_app/fonts/Ubuntu-R.ttf'%}") format('truetype');
        }  
        @font-face{
            font-family:"Binggrae";
            src:url("{%static 'prj1_app/fonts/Binggrae.eot'%}") format('truetype'),
            url("{%static 'prj1_app/fonts/Binggrae.woff'%}") format('woff'),
            url("{%static 'prj1_app/fonts/Binggrae.ttf'%}") format('truetype');
        }
        body{
            font-family : Ubuntu-R, Ubuntu-L, Binggrae, Apple Gothic;
        }
    </style>

    <body class="d-flex flex-column h-0 bg-white">
-->


        
<!--        
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white" aria-label="Main navigation">
            <div class="container-fluid">

                <a class="navbar-brand text-dark" href="#">
                    <img class="me-3" src="{%static 'prj1_app/image/codeplaneJustPlane.jpg'%}" alt="" width="40" height="40"> 
                    CodePlaneDev
                </a>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Download</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Forum</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">STAFF</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#">부산남자 sb</a></li>
                                <li><a class="dropdown-item" href="#">서울남자 kh</a></li>
                                <li><a class="dropdown-item" href="#">인천남자 js</a></li>
                            </ul>
                        </li>


                    </ul>

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

-->

        
<!--        
        <main class="container">

          <div class="starter-template text-center py-5 px-3">
            <h3>
                <img class="me-3" src="{%static 'prj1_app/image/codeplaneLogo.jpg'%}" alt="" width="120" height="120"> 
            </h3>
            <p class="lead">
                Code Plane 공식 홈페이지 입니다. 
            </p>
          </div>

        </main>  <!--   /.container -->

        
        
        
        
       
        <div class="flex-container">

            <header class="main-header">
                <div class="wrapper">
                    <div class="header-flex">
                        <div class="menu-icon-container">
                            <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        </div>

                        <nav class="main-nav">
                            <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                            <ul>
                                <li><a href="/"><b>All</b></a></li>
                                <li><a href="">category 1</a></li>
                                <li><a href="">category 2</a></li>
                                <li><a href="">Tags</a></li>
                                <li><a href="/about">About</a></li>
                            </ul>
                        </nav>

                            
                        
                        <p class="logo"><a href="/"><img src="{%static 'prj1_app/image/codeplaneJustPlaneBOLD2.png'%}" width="40" height="40"> Code Plane Lap.</a></p>

                        <div class="search-icon-container">
                            <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                </div>
            </header> <!-- End Header -->

            
            
           
           
            <div class="content wrapper">

                <div class="post-card-box">


                    <h2><a href="/log/end/" class="link-post_list">hexo로 블로그 이전</a></h2>

                    <p class="post-meta">Jun 12, 2019</p>

                    <div class="post-list-content">
                    블로그 이전합니다.
                    </div>
                    <div class="page-tag">

                    <a href="/tags#log" class="tag" style="color: #faa;">#log</a>

                    </div>
                </div>

                <div class="post-card-box">
                    <h2><a href="/log/Albus-log-05/" class="link-post_list">Albus log - 5</a></h2>

                    <p class="post-meta">Jun 04, 2019</p>

                    <div class="post-list-content">
                    프로젝트를 진행하며 겪은 에러나 새로 배운 것
                    </div>
                    <div class="page-tag">

                    <a href="/tags#albus" class="tag" style="color: #faa;">#albus</a>

                    </div>
                </div>

                <div class="post-card-box">

                    <h2><a href="/node/nodejs-structure/" class="link-post_list">nodejs의 동작 원리</a></h2>

                    <p class="post-meta">Jun 02, 2019</p>

                    <div class="post-list-content">
                    nodejs의 소개, 장점, 내부 작동 원리 등
                    </div>
                    <div class="page-tag">

                    <a href="/tags#nodejs" class="tag" style="color: #faa;">#nodejs</a>

                    </div>
                </div>


                <div class="search-box">
                    <div class="wrapper">
                        <div class="search-grid">

                            <form class="search-form">
                                <div id="search-container">
                                    <input type="text" id="search-input" class="search" placeholder="Search">
                                </div>
                            </form>
                            <ul id="results-container" class="results-search"></ul>
                            <div class="icon-close-container">
                            <span class="search-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="pagination clearfix">
                    <a href="/page2/" class="next">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>

            </div> <!-- End Wrapper -->
            

          
            <footer class="main-footer">
                <div class="copyright">
                <small>Code Plane 관련 모든 정보는 'Code Plane'에서 hosting 하고 있습니다.</small>
                </div>
            </footer>   
       <!--  End Footer -->


<!--   -->        
  
            
        </div>
<!--        
         <footer class="footer mt-auto py-3 bg-light">
          <div class="container">
              <span class="text-muted"><small>Code Plane 관련 모든 정보는 'Code Plane'에서 hosting 하고 있습니다.</small></span>
          </div>
        </footer>        
-->

    

    <!-- JS -->
    <script src="{%static 'prj1_app/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{%static 'prj1_app/js/main.js'%}"></script>
           
    <script src="{%static 'prj1_app/js/bootstrap.js'%}"></script>
    <script src="{%static 'prj1_app/js/offcanvas.js'%}"></script>    
</body>
    

    
</html>
